* {box-sizing:border-box;
    font-family: 'Roboto', sans-serif}

header{background-color: #222222;
justify-content: space-between;
color:white;
display: flex;
height: 100px;}

.barra ul {display: flex;
flex-flow:wrap;
padding-top: 20px;
padding-right: 10px;
}
.barra span {padding-left: 10px;}

.pizza {padding-top: 20px}

main {
    display: flex;
    position: relative;
    justify-content: space-around; 
    margin:50px 250px;
}

img {
    z-index: 0;}

span {
    z-index: 1;}

.segundo {width: 500px;
    height: 350px;
    border: solid red;}

.podio {text-align: center;
color: red;
font-size: 23px;
font-weight: bold;
padding-top: 20px;}

.top { margin-top: 30px;
margin-left: 40px;}

.prepa {}

