@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css');

/* mobile First */
:root{
    --color-header: #1D728F; 
    --color-main: #86C6DB;
    --color-aside: #FFDDC3;
    --color-footer: #8F5316;
    --text-header: #DB9C5C;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    /*1- activo grid */
    display: grid; 
    /*2-  defino la grilla */
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 1fr 2fr repeat(2, 1fr); 
    gap: 10px 10px; 
    grid-template-areas: 
        "header header header header"
        "main    main   main   main"
        "aside  aside   aside  aside"
        "footer footer footer footer"; 
}
header{
    /* 3 - asignar el área */
    grid-area: header;
    background-color: var(--color-header);
    color: var(--text-header);
    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}
header nav ul{
    display:none;
  }

main, aside, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    grid-area: main;
    background-color: var(--color-main);
}
aside{
    grid-area: aside;
    background-color: var(--color-aside);
}
footer{
    grid-area: footer;
    background-color: var(--color-footer);
    color: var(--color-main);
    flex-direction: column;
    justify-content: space-around;
}
footer form{
    width: 50%;
    display: flex;
    flex-direction: column;
}
/* Version tablet */
@media screen and (min-width: 680px) {
    body{
        /*2-  defino la grilla */
        grid-template-areas: 
            "header header header header"
            "main   main  main   aside"
            "main   main  main   aside"
            "footer footer footer footer"; 
    }
    header{
        flex-direction: column;
    }
    header nav::before{
        content: '';
    }
    header nav ul{
        list-style: none;
        /* flex  */
        display: flex;
        flex-direction: row; 
        gap: 20px;
    }
    nav a{
        color: var(--text-header);
        text-decoration: none;
        font-size: 2rem;
    }
    footer form{
        flex-direction: row;
        gap: 10px;
    }
}
/* Version desktop */
@media screen and (min-width: 1024px) {
    body{
        /*2-  defino la grilla */
        grid-template-areas: 
            "header header header aside"
            "main main main aside"
            "main main main aside"
            "footer footer footer aside"; 
    }
    header{
        flex-direction: row;
    }
}