* {box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

                                                        /* FONDO */
body {
    background-image: url(../img/bg-tablet-pattern.svg) ;
    background-repeat:no-repeat;
    background-position: 58vw -15vw;
    }

.cuadros {
    background-image: url(../img/bg-tablet-pattern.svg) ;
    background-repeat:no-repeat;
    background-position:-30vw 70vw ;
}


                                                        /* BARRA NAV */

nav div {
    display:flex;
    justify-content: space-around;
    width: 100vw;
    align-items: center;
    margin-top: 2vw;
}

nav div .compu {
    display: flex;
}

nav div .compu li{
    margin-left: 3vw;
}

nav div ul li a {
    font-size: 13px;
    font-weight: 600;
    color:rgb(35, 44, 81);
    transition: all 0.3s;
}

nav li a:hover {
    color:rgb(159, 170, 211);
}

.logo1 {
    width: 12%;

    
}

                                                        /* BOTONES GET STARTED */

button {
    background-color: #F3603B;
    Width: 10vw;
    Height:3.2vw ;
    border: none;
    border-radius: 20px; 
    box-shadow: 0px 6px 5px rgba(243, 96, 59,0.2);
    transition: all 0.3s;
}

button:hover {
background-color:#f07657;
cursor: pointer;
}

button a {
    color: white;
    font-weight: 800;
    font-size: 0.9vw;
}

button a:hover{
    color:rgb(236, 236, 236)
}

a {
    text-decoration:none
}

                                                        /* CUERPO CUADROS */

.cuadros {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 20px;
}

.cuadros>div {
    width: 42vw;
    padding: 70px;
}

/* CUADRO UNO */

.Cuno h1{
    font-size: 3.5vw ;
    font-weight: 900;
    color: rgb(35, 44, 81);
    }

.Cuno p {
    margin:-1vw 0 2vw 0;
    width:24vw ;
    font-size: 1.1vw;
    color: rgb(143, 148, 167)
}

/* CUADRO DOS */

.Cdos img {
    width: 120%;
    margin-top: 10px;
}

/* CUADRO TRES */
.Ctres h2 {
    font-size: 35px;
    color:rgb(35, 44, 81);
    /* font-weight: 800; */
}

.Ctres p {
    margin:-10px 100px 0px 0px;
    font-size: 1.2vw;
    color: rgb(143, 148, 167)
}

/* CUADRO CUATRO */
.Ccuatro button {
    width: 4.5vw;
    height: 2.6vw;
    color: white;
    font-weight: bold;
    position:relative;
    top:35px ;
}

.Ccuatro button:hover{
    background-color: #F3603B;
}

.Ccuatro h4{
    position: relative;
    left: 80px;
    color:rgb(35, 44, 81);
    top:-15px;
}

.Ccuatro p {
    position: relative;
    left: 80px;
    top: -20px;
    font-size: 1.2vw;
    color: rgb(143, 148, 167);
}


                                                        /* CARTAS */
.cartas {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

/* TITULO CARTAS */
.Tcartas {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 2vw;
    color:rgb(35, 44, 81);
    margin-top: -50px;
}

/* CARTAS */
.carta {
    display: flex;
    width: 31vw;
    height: 180px;
    background-color:rgb(245, 245, 245) ;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
}

/* FOTOS CARTAS */

.cartas img {
    width: 17%;
    position: relative;
    top: -35%;
    left: 41%; 
}

.cartas h4 {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    font-weight: bold;
    color:rgb(35, 44, 81);
}

.cartas p {
    text-align: center;
    color:rgb(143, 148, 167);
    margin: -10px 15px 15px;
    font-size: 14px;
}

                                                        /* BOTON DEBAJO CARTAS */

.Bcartas {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

                                                        /* BANNER NARANJA ABAJO */

.banner {
    background-color: #F3613C;
    background-image: url(../img/bg-simplify-section-desktop.svg) ;
    background-repeat:no-repeat;
    background-position: 160px -130px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    align-items: center;
}

/* BOTON BANNER */

.Bbanner>button {
    background-color: #FFFFFF !important;
    box-shadow: 0px 6px 5px rgba(63, 26, 17, 0.2);
    transition: all 0.3s;
}

.Bbanner {
    padding-left: 21vw;
}

.Bbanner>button>a {
    color:#F3603B;
    font-weight: 800;
    font-size: 0.9vw; 
    transition: all 0.3s;
}

.Bbanner>button>a:hover{
    color:#ee8f77
}


/* TEXTO BANNER */
.banner h2{
    color: #FFFFFF;
    font-size: 35px;
}
.banner>div {
    width: 450px;
}

                                                        /* FOOTER */

/* PRIMERA PARTE */
footer {
    background-color:#1E1E26;
    display: flex;
    justify-content: space-around;
    height: 250px;
    align-items: center;
    padding: 20px;
}

.Fprimero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 15vw;
}

.Fprimero a{
    margin-left: 1vw;
    }

.FprimeroBis a img:hover{
    filter: invert(49%) sepia(77%) saturate(2757%) hue-rotate(338deg) brightness(99%) contrast(92%);
    }

.LogoF {
        margin-left: 12%;
    }


/* SEGUNDA PARTE */
footer li a {
    font-size: 15px;
    color:white;
    transition: all 0.3s;
}

footer a:hover {
    color: #F3603B;
}

footer li {
    margin-top: 15px;
}

.Fsegunda {
    display: flex;
    align-self:flex-start;
    margin: 15px 80px 80px 80px;
}

/* TERCERA PARTE */
/* BOTON */
.Ftercero{
    margin-right: 70px;
}

input[type=submit] {
    background-color: #F3603B;
    color: #FFFFFF;
    border-radius: 20px;
    height: 44px;
    width: 60px;
    border: none;
    font-weight: bold;
    transition: all 0.3s;
}

input[type=submit]:hover {
    background-color:#f07657;
    cursor: pointer;
}

/* CAMPO EMAIL */
input[type=email] {
    border-radius: 20px ;
    height: 44px;
    width: 200px;
    margin-right: 5px;
}

/* COPYRIGHT */
.Ftercero>p {
    color:#8C8C94;
    font-size: 12px;
    margin-top: 60px;
    margin-left: 60px;
}


/* PARTES DE LA VERSION CELU OCULTAS EN VERSION COMPU */
@media (min-width: 376px){
    .celu { 
        display: none;
        }
    .FoterCelu {
        display: none;
    }
    .cartascelular {
        display: none;
    }

}

                                            /* VERSION CELU */
@media (max-width: 375px){
    body {
        background-repeat:no-repeat;
        background-size: 400px;
        background-position:-250% -2%;
        margin: 0;
        padding: 0;
    }

    button {
        Width: 33vw;
        Height:11vw ;
    }

    button a {
        font-size: 3.4vw;
    }

    .cuadros {
        background-image: no-repeat;
        background-size: 300px;
        background-position: 390% 32%;
    }

/* OCULTO EL FOOTER DE LA COMPU */
    .Fprimero,.FsegundaBis,.Fsegunda,.Ftercero{
        display: none;
    }

                                /* BARRA NAVEGACION */
    .compu { display: none !important}

    header button {
        display:none;
        
    }

    .celu li{ list-style: none;
    }

    .celu li a {
        background-color: rgb(245, 245, 245);
        color:#ee8f77 ;
        padding: 6px 10px;
        display:block;
        border-radius: 40%;
        text-align: center;
        transition: all 0.3s;
            }

    .celu>li {
        float:left;
        margin: 0% 0% 0% -140%;
            }

    .celu li ul {
        display: none;
        position: absolute;
        right: 1%;
        top: 4.3%;
    }

    .celu li a:hover{
        background-color:rgb(236, 236, 236);
        color:#ee8f77 ;
    }

    .celu li:hover>ul{
        display: block;
        transition: all 0.3s;
    }

    nav div {
        justify-content: space-between;
    }

    .logo1 {
        padding-left: 20px;
    }

    .logo1 {
        width: 35%;}
    
    .amenu:hover{
        display:none;
        
    }

    .cmenu{
        position: relative;
        left: 65px;
        }
    
                                       /* CUADROS */

    .cuadros>div {
        width: 97vw;
        padding: 15px;
        margin-left: -25px;
    }

/* CUADRO UNO */
    .Cuno h1{
        text-align: center;
        font-size: 35px;
        margin-left: 25px;
    }

    .Cuno p {
        text-align: center;
        margin: -20px 0px 20px 25px;
        padding: 0px 5px;
        font-size: 4vw;
        width: 80vw;

    }

    .Cuno>button {
        margin-left: 110px ;
    }

/* CUADRO DOS */
    .Cdos {
        order:-1;
        margin-left: -25PX;
    }
    .Cdos img {
        width: 110%;
        
    }

/* CUADRO TRES */
    .Ctres h2{
        text-align: center;
        font-size: 30px;
        margin-left: 25px;
    }
    .Ctres p {
        text-align: center;
        margin: -20px 0px 20px 25px;
        padding: 0px 5px;
        font-size: 4vw;
    }

 /* CUADRO CUATRO */   
    .Ccuatro h4{
        background-color: #ffece8;
        padding: 9px 10px 9px 50px;
        width: 346px;
        margin-left: -60px;
    }

    .Ccuatro p{
        margin-left: -70px;
        width: 330px;
        font-size: 14px;
    }

    .Ccuatro div{
        margin-bottom: -30px;
    }

    .Ccuatro button{
        z-index: 1;
        top: 43px;
        left:5px;
        box-shadow: none;
        width: 16vw;
        height: 10vw;
    } 

    .Tcartas{
        font-size: 20px;
        margin-top: 0px;
    }

                                         /* CARTAS */

    .cartas {
        display: none;
    }

                                          /* CARTAS PERSONAS */
    .cartascelular {
        display:flex ;
        height: 230px;
    }

/* OCULTO CARTAS */
    .Cartauno li, .Cartados li, .Cartatres li{ 
        list-style: none;
    }

/* DESOCULTO CARTAS */
    .Cartauno li h4, .Cartauno li p,.Cartados li h4, .Cartados li p,.Cartatres li h4, .Cartatres li p {
        display:block;
    }

    .Cartauno>li,.Cartados>li,.Cartatres>li {
        float:left;
    }

    .Cartauno li ul,.Cartados li ul,.Cartatres li ul {
        display: none;
        position: absolute;
    }

    .Cartauno li:hover>ul,.Cartados li:hover>ul,.Cartatres li:hover>ul{
        display: block;    
    }

    .Cartauno img:hover,.Cartados img:hover,.Cartatres img:hover {
        /* background-color:#f07657; */
        transform: scale(2);
    }

/* IMAGENES */
    .cartascelular img{
        width: 40px;
        margin-left: 20px;
    }

/* TEXTOS */
    .cartascelular p{
        width: 80vw;
        color: #B9B9C1;
        font-size: 0.9rem;
        text-align: center;
        background-color: rgb(245, 245, 245);
        padding: 60px 15px 15px 15px;
        margin-top: -90px;

    }

/* TEXTO CARTA UNO */
    .Cartauno p {
        margin-left: -40px;
        position: relative;
        z-index: -1;
    }

    .Cartauno h4 {
        font-size: 25px;
        margin-left: 50px;
        position: relative; 
        top: -10px;
        color:rgb(35, 44, 81);
    }

/* TEXTO CARTA DOS */
    .Cartados p{
        position: relative;
        left: -140px;
        z-index: -1;
        font-size: 13.5px;
    }

    .Cartados h4{
        font-size: 25px;
        position: relative;
        left: -50px;
        top: -10px;
        color:rgb(35, 44, 81);
    }

/* TEXTO CARTA tres */
    .Cartatres p{
        position: relative;
        z-index: -1;
        left: -240px;
    }

    .Cartatres h4{
        font-size: 25px;
        position: relative;
        left: -180px;
        top: -10px;
        color:rgb(35, 44, 81);
    }

                                            /* BOTON CARTAS */
    .Bcartas {
        margin-bottom: -30%;
        margin-top: 5%;
    }


                                         /* BANNER NARANJA */
    .banner {
        background-position: 39% 1% ;
        background-size: 300%;
    }

    .banner {
        flex-direction: column;
        height: 400px;
        width: 100vw;
    }
    .banner h2 {
        font-size: 37px;
        text-align: center;
        margin: 100px 30px 20px 30px;
    }
    .banner>div{
        width: 100vw;
    }
    .Bbanner {
        padding-left: 30vw;
        margin-bottom: 90px;
    }

    .Bbanner>button>a{
        font-size: 3.4vw;
    }

                                                        /* FOOTER */

/* PRIMERA PARTE */

    footer {
        flex-direction: column;
        height: 500px;
        width: 100vw;
    }

    /* ORDEN FOOTER */
    .FoterCelu {
        display: flex;
        flex-direction: column;
        margin-top: 220px;
    }
    
    .FsegundaCelu {
    display: flex;
    }

    .FterceroCelu {
    order: -1;
    margin: -180px 0px 0px 20px;
    }

    .FsegundaCelu {
        order: 0;
        margin-top: 40px;
        width: 330px;
    }

    .FsegundaCelu>div {
        margin-right: 40px;
    }

    .FprimeroCelu {
        order:1;
        margin: 30px 0px 0px 30px;
    }

    .FprimeroCelu>div a{
        margin-right: 30px;
    }

    .FprimeroCelu>div a img{
        width: 9%;
    }

    .FprimeroCelu a img:hover{
        filter: invert(49%) sepia(77%) saturate(2757%) hue-rotate(338deg) brightness(99%) contrast(92%);
    }

    .FlogoCelu {
        margin: 40px 0px 0px 50px;
        width: 50%;
    }

    .CopyCelu {
        order:2;
        color:#8C8C94;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
    }




}


