* {box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

                                                        /* FONDO */
body {
    background-image: url(../img/bg-tablet-pattern.svg) ;
    background-repeat:no-repeat;
    background-position: 58vw -15vw;
    }

.cuadros {
    background-image: url(../img/bg-tablet-pattern.svg) ;
    background-repeat:no-repeat;
    background-position:-30vw 64vw ;
}


                                                        /* BARRA NAV */

nav div {
    display:flex;
    justify-content: space-around;
    width: 100vw;
    align-items: center;
}

nav div .compu {
    display: flex;
}

nav div .compu li{
    margin-left: 30px;
}

nav div ul li a {
    font-size: 13px;
    font-weight: bold;
    color:rgb(35, 44, 81);
}

nav li a:hover {
    color:#8C8C94
}

.logo1 {
    width: 120px;
    height: 20px;
    
}

                                                        /* BOTONES GET STARTED */

button {
    background-color: #F3603B;
    Width: 134px;
    Height:44px;
    border: none;
    border-radius: 20px; 
    box-shadow: 0px 6px 5px rgba(243, 96, 59,0.2);
}

button:hover {
background-color:#f07657;
}

button a {
    color: white;
    font-weight: 800;
    font-size: 13.18px;
}

a {
    text-decoration:none
}

                                                        /* CUERPO CUADROS */

.cuadros {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 20px;
}

.cuadros>div {
    width: 40vw;
    padding: 70px;
}

/* CUADRO UNO */

.Cuno h1{
    font-size: 3rem ;
    font-weight: 800;
    color: rgb(35, 44, 81);
    }

.Cuno p {
    margin:-20px 100px 40px 0;
    font-size: 15px;
}

/* CUADRO DOS */

.Cdos img {
    width: 120%;
    margin-top: 10px;
}

/* CUADRO TRES */
.Ctres h2 {
    font-size: 35px;
    color:rgb(35, 44, 81);
    /* font-weight: 800; */
}

.Ctres p {
    margin:-15px 110px 0px 0px;
    font-size: 15px;
}

/* CUADRO CUATRO */
.Ccuatro button {
    width: 50px;
    height: 30px;
    color: white;
    font-weight: bold;
    position:relative;
    top:30px ;
}

.Ccuatro h4{
    position: relative;
    left: 80px;
    color:rgb(35, 44, 81);
    top:-15px;
}

.Ccuatro p {
    position: relative;
    left: 80px;
    top: -20px;
    font-size: 15px;
}


                                                        /* CARTAS */
.cartas {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

/* TITULO CARTAS */
.Tcartas {
    display: flex;
    justify-content: center;
    width: 100vw;
    font-size: 20px;
    color:rgb(35, 44, 81);
    margin-top: -100px;
}

/* CARTAS */
.carta {
    display: flex;
    width: 30vw;
    height: 180px;
    background-color:#FAFAFA ;
    flex-direction: column;
    margin-top: 60px;
    justify-content: center;
}

/* FOTOS CARTAS */

.cartas img {
    width: 17%;
    position: relative;
    top: -55px;
    left: 170px; 
}

.cartas h4 {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    font-weight: bold;
    color:rgb(35, 44, 81);
}

.cartas p {
    text-align: center;
    color:#B9B9C1;
    margin: -10px 15px 15px;
    font-size: 14px;
}

                                                        /* BOTON DEBAJO CARTAS */

.Bcartas {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

                                                        /* BANNER NARANJA ABAJO */

.banner {
    background-color: #F3613C;
    background-image: url(../img/bg-simplify-section-desktop.svg) ;
    background-repeat:no-repeat;
    background-position: 100px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    align-items: center;
}

/* BOTON BANNER */

.Bbanner>button {
    background-color: #FFFFFF !important;
    box-shadow: 0px 6px 5px rgba(63, 26, 17, 0.2);
}

.Bbanner {
    padding-left: 20vw;
}

.Bbanner>button>a {
    color:#F3603B;
    font-weight: 800;
    font-size: 13.18px; 
}

.Bbanner>button>a:hover{
    color:#ee8f77
}


/* TEXTO BANNER */
.banner h2{
    color: #FFFFFF;
    font-size: 35px;
}
.banner>div {
    width: 450px;
}

                                                        /* FOOTER */

/* PRIMERA PARTE */
footer {
    background-color:#1E1E26;
    display: flex;
    justify-content: space-around;
    height: 250px;
    align-items: center;
    padding: 20px;
}

.Fprimero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
       /* poner space-betwen */
}

.Fprimero a{
    margin-left: 10px;
    }

.FprimeroBis a img:hover{
    filter: invert(49%) sepia(77%) saturate(2757%) hue-rotate(338deg) brightness(99%) contrast(92%);
    }

.LogoF {
        margin-left: 15px;
    }


/* .Fprimero a:hover poner color a los iconos */

/* SEGUNDA PARTE */
footer li a {
    font-size: 13px;
    color:white;
}

footer a:hover {
    color: #F3603B;
}

footer li {
    margin-top: 15px;
}

.Fsegunda {
    display: flex;
    align-self:flex-start;
    margin-top: 15px;
}

/* TERCERA PARTE */
/* BOTON */
input[type=submit] {
    background-color: #F3603B;
    color: #FFFFFF;
    border-radius: 20px;
    height: 44px;
    width: 60px;
    border: none;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color:#f07657;
}

/* CAMPO EMAIL */
input[type=email] {
    border-radius: 20px ;
    height: 44px;
    width: 180px;
    margin-right: 5px;
}

/* COPYRIGHT */
.Ftercero>p {
    color:#8C8C94;
    font-size: 13px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 40px;
}


/* PARTES DE LA VERSION CELU OCULTAS EN VERSION COMPU */
@media (min-width: 376px){
    .celu { 
        display: none;
        }
    .FoterCelu {
        display: none;
    }
    .cartascelular {
        display: none;
    }

}

                                            /* VERSION CELU */
@media (max-width: 375px){
    body {
        background-repeat:repeat-x;
        background-size: 600px;
        background-position:50% 0%;
    }

    .cuadros {
        background-image: none;
    }

/* OCULTO EL FOOTER DE LA COMPU */
    .Fprimero,.FsegundaBis,.Fsegunda,.Ftercero{
        display: none;
    }

                                /* BARRA NAVEGACION */
    .compu { display: none !important}

    header button {
        display:none;
    }

    .celu li{ list-style: none;
    }

    .celu li a {
        background-color: rgb(35, 44, 81);;
        color:#ee8f77 ;
        padding: 6px 10px;
        display:block
    }

    .celu>li {
        float:left;
        margin-right: 30px;
    }

    .celu li ul {
        display: none;
        position: absolute;
        right: -10px;
        top:55px;
    }
    .celu li a:hover{
        background-color:rgb(61, 66, 83);
    }
    .celu li:hover>ul{
        display: block;
    }
    nav div {
        justify-content: space-between;
    }

    .logo1 {
        padding-left: 10px;
    }
                                       /* CUADROS */

    .cuadros>div {
        width: 90vw;
        padding: 15px;
    }

/* CUADRO UNO */
    .Cuno h1{
        text-align: center;
        font-size: 35px;
        /* font-weight: 600; NO ME DEJA :( */
    }

    .Cuno p {
        text-align: center;
        margin: -20px 0px 20px 0px;
        padding: 0px 5px;
    }

    .Cuno>button {
        margin-left: 80px ;
    }

/* CUADRO DOS */
    .Cdos {
        order:-1;
        margin-left: -25PX;
    }
    .Cdos img {
        width: 110%;
        
    }

/* CUADRO TRES */
    .Ctres h2{
        text-align: center;
        font-size: 30px
    }
    .Ctres p {
        text-align: center;
        margin: -20px 0px 20px 0px;
        padding: 0px 5px;
    }

 /* CUADRO CUATRO */   
    .Ccuatro h4{
        background-color: #ffece8;
        padding: 5px 10px 5px 50px;
        width: 330px;
        margin-left: -70px;
    }

    .Ccuatro p{
        margin-left: -80px;
        width: 330px;
        font-size: 14px;
    }

    .Ccuatro button{
        z-index: 1;
        top: 36px;
        box-shadow: none;
    } 

    .Tcartas{
        margin-top: -30px;
    }

                                         /* CARTAS */

    .cartas {
        display: none;
    }

                                          /* CARTAS PERSONAS */
    .cartascelular {
        display:flex ;
        height: 230px;
    }

/* OCULTO CARTAS */
    .Cartauno li, .Cartados li, .Cartatres li{ 
        list-style: none;
    }

    .Cartauno li h4, .Cartauno li p,.Cartados li h4, .Cartados li p,.Cartatres li h4, .Cartatres li p {
        display:block;
    }

    .Cartauno>li,.Cartados>li,.Cartatres>li {
        float:left;
    }

    .Cartauno li ul,.Cartados li ul,.Cartatres li ul {
        display: none;
        position: absolute;
    }

    .Cartauno li:hover>ul,.Cartados li:hover>ul,.Cartatres li:hover>ul{
        display: block;
    }

    .Cartauno img:hover,.Cartados img:hover,.Cartatres img:hover {
        background-color:#f07657;
    }

/* IMAGENES */
    .cartascelular img{
        width: 40px;
        margin-left: 20px;
    }

/* TEXTOS */
    .cartascelular p{
        width: 80vw;
        color: #B9B9C1;
        text-align: center;
        background-color: #FAFAFA;
        padding: 60px 15px 15px 15px;
        margin-top: -90px
    }

/* TEXTO CARTA UNO */
    .Cartauno p {
        margin-left: -50px;
    }

    .Cartauno h4 {
        font-size: 25px;
        margin-left: 50px;
        position: relative; 
        top: -10px;
        color:rgb(35, 44, 81);
    }

/* TEXTO CARTA DOS */
    .Cartados p{
        margin-left: -150px;
        margin-top: -90px;
    }

    .Cartados h4{
        font-size: 25px;
        position: relative;
        left: -50px;
        top: -10px;
        color:rgb(35, 44, 81);
    }

/* TEXTO CARTA DOS */
    .Cartatres p{
        position: relative;
        z-index: -1;
        left: -250px;
    }

    .Cartatres h4{
        font-size: 25px;
        position: relative;
        left: -180px;
        top: -10px;
        color:rgb(35, 44, 81);
    }

                                            /* BOTON CARTAS */
    .Bcartas {
        margin-bottom: -90px;
    }


                                         /* BANNER NARANJA */
    .banner {
        flex-direction: column;
        height: 330px;
        width: 360px;
    }
    .banner h2 {
        font-size: 40px;
        text-align: center;
        margin: 100px 30px 20px 30px;
    }
    .banner>div{
        width: 100vw;
    }
    .Bbanner {
        padding-left: 30vw;
        margin-bottom: 90px;
    }



                                                        /* FOOTER */

/* PRIMERA PARTE */

    footer {
        flex-direction: column;
        height: 450px;
        width: 360px;
        
    }

    /* ORDEN FOOTER */
    .FoterCelu {
        display: flex;
        flex-direction: column;
        margin-top: 220px;
    }
    
    .FsegundaCelu {
    display: flex;
    }

    .FterceroCelu {
    order: -1;
    margin: -200px 0px 0px 20px;
    }

    .FsegundaCelu {
        order: 0;
        margin-top: 20px;
    }

    .FsegundaCelu>div {
        margin-right: 40px;
    }

    .FprimeroCelu {
        order:1;
        margin: 30px 0px 0px 30px;
    }

    .FprimeroCelu>div a{
        margin-right: 30px;
    }

    .FprimeroCelu a img:hover{
        filter: invert(49%) sepia(77%) saturate(2757%) hue-rotate(338deg) brightness(99%) contrast(92%);
    }

    .FlogoCelu {
        margin: 40px 0px 0px 50px;
        width: 50%;
    }

    .CopyCelu {
        order:2;
        color:#8C8C94;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
    }




}


