* {box-sizing:border-box}


header {position: sticky;
    top: 0px;
    height: 80px;
    background-color: #00669F;
    z-index: 5}

h1 { font-size: 40px;
    font-family: 'Roboto', sans-serif;
margin-left: 20px;
padding-top: 13px;}

.desc {background-color: #1CD1B0;
        position: relative;  
        margin-bottom: -33px;}

.descu {padding: 5px;
font-size: 15px;}

.personajes { background-color:#F3F3F3 ;
   display: inline-block;
width: 300px;
height: 500px;
position: relative;
font-family: 'Roboto', sans-serif;
z-index: -1;
margin: 20px;
}

footer {background-color: #00669F;
color: white;
/* height: 0px; */
/* padding-top: 7px;
padding-left: 10px; */
font-size: 13px;
display: flex;
}

.foot {
    justify-content: center
    
}

.logog {width: 10%;
    justify-self: flex-end;
}

/* .logog {justify-content: flex-end;} */


.logo{position:relative;
    top: 130px;
    left: 90px;
z-index: 2;
border-radius: 100px;
}

.fondo{position:absolute;
    left: -0px;
    z-index: 1;
}

.cora{position:relative;
    top: -75px;
    left: -100px;
    z-index: 3
}

.titu { padding-top: 130px;
    text-align: center;}

.boton { background-color: #00669F;
color: white;
text-align: center;
margin-right: 110px;
margin-left: 110px;
padding-top: 8px;
height: 35px;
}

section {display: flex;
justify-content: space-around;
}

.formu {
    background-color: #00669F;
    color: white;
    width: 600px;
    height: 480px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: space-around;
    flex-direction:column;
    padding-bottom: 20px;
    border-radius: 20px;
}
.cuestionario { 
    display: flex;
    flex-direction:row;
}

.primero, .segundo {
        display: flex;
        flex-direction:column
}
.segundo { margin-left: 30px;}
.poderes {
    flex-direction:column 
}

textarea {
    height: 200px;
}

main {display:flex;
    justify-content: center;
align-items: center;}





@media (max-width: 700px ) {
    section {flex-direction: column;
        justify-content: space-around;
    align-items: center;}

    footer {}

}